.didgeridoo-document-wrapper {
	position: absolute;
	left: 0;
	top: 32px;
	right: 0;
	bottom: 0;
	box-shadow: none;
}

.didgeridoo-document-toolbar {
	position: absolute;
	left: 0;
	top: 3px;
	right: 0;
	height: 32px;
	background: #ddd;
	color: black;
	padding: 0 10px;
}

.didgeridoo-document-toolbar .codeview {
	display: inline-block;
	background-image: url('img/codeview.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.didgeridoo-document-container {
	position: absolute;
	left: 0;
	top: 35px;
	right: 0;
	bottom: 0;
}

.didgeridoo-document-designer-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
}

.didgeridoo-document-codeview-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

/* jQuery UI styles override */
.ui-tabs .ui-tabs-panel {
	background: #ddd;
}