* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto !important;
	color: #000;
	font-family: 'Lucida Grande', Geneva, Verdana, Arial;
	font-size: 12px;
}

.ui-layout-aside > .container {
	height: auto;
}

.didgeridoo-panel-window {
	overflow: auto;
	-webkit-user-select: none;
}

.didgeridoo-panel-window-collapsed {
	overflow: hidden;
	height: 30px;
}

.light-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none;
}

.light-scrollbar:hover::-webkit-scrollbar {
	display: block;
}
 
.light-scrollbar::-webkit-scrollbar-track {
    background: #E4E3E5;
}
 
.light-scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #777; 
}
.light-scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background: #333; 
}

.didgeridoo-panel-window-header {
	background-color: #777;
	color: white;
	height: 20px;
	margin: 10px 2px 5px 2px;
	font-family: Lucida Grande, Geneva, Verdana, Arial;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .1em;
	text-align: left;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 2;
	border-radius: 10px;
	text-overflow: ellipsis;
}

.didgeridoo-panel-window-icon {
	position: absolute;
	left: 8px; top: 2px;
    width:16px;
    height:17px;
    cursor: pointer;
}

.didgeridoo-panel-window-title {
	position: absolute;
	left: 30px; top: 2px;
	right: 30px; bottom: 2px;
}

.didgeridoo-panel-window-close {
	position: absolute;
	right: 8px; top: 2px;
	width:16px;
	height:17px;
    background-image: url(../_images/ui-icons_ffffff_256x240.png);
    background-position: -80px -128px;
    cursor: pointer;
}

.didgeridoo-panel-window-close:hover {
	background-image: url(../_images/ui-icons_ffffff_256x240.png);
	background-position: -32px -192px;
}

.didgeridoo-panel-window-content {
	min-height: 144px;
	overflow: auto;
	color: #000;
	padding: 10px 5px;
	z-index: 1;
}