html, body {
	min-width: 1000px !important;
	min-height: 600px !important;
	overflow: auto !important;
}

.ui-layout-pane {
	background: #F1F0F2;
	border: 0 !important;
}

.ui-layout-pane > .container {
	height: auto;
}

.didgeridoo-panel-window {
	min-height: 144px;
	overflow: hidden !important;
}

.ui-layout-pane::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: none;
}

.ui-layout-pane:hover::-webkit-scrollbar {
	display: block;
}
 
.ui-layout-pane::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    background: #1C140D;
}
 
.ui-layout-pane::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #777; 
}
.ui-layout-pane::-webkit-scrollbar-thumb:window-inactive {
	background: #333; 
}

.didgeridoo-panel-window-header {
	background-color: #d8d7d9;
	color: #1C140D;
	height: 24px;
	padding: 15px 0 4px 0;
	margin: 0;
	font-family: Lucida Grande, Geneva, Verdana, Arial;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: .1em;
	text-align: left;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.didgeridoo-panel-window-close {
    display:block;
    background-image: url(../_images/ui-icons_000000_256x240.png);
    background-position: -80px -128px;
    width:16px;
    height:17px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.didgeridoo-panel-window-content {
	min-height: 100px;
	overflow: auto;
	color: #F2E9E1;
	padding: 10px 5px;
	z-index: 1;
}