/* begin Page */

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Box, Sheet */
.art-sheet-tl
{
  clip: rect(auto 18px 18px auto);
}

.art-sheet-tr
{
  clip: rect(auto auto 18px 18px);
}

.art-sheet-bl
{
  clip: rect(18px 18px auto auto);
}

.art-sheet-br
{
  clip: rect(18px auto auto 18px);
}

.art-sheet-tc
{
  clip: rect(auto auto 18px auto);
}

.art-sheet-bc
{
  clip: rect(18px auto auto auto);
}

.art-sheet-cr
{
  clip: rect(auto auto auto 18px);
}

.art-sheet-cl
{
  clip: rect(auto 18px auto auto);
}

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav-r
{
  clip: rect(auto auto auto 887px);
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a .r
{
  clip: rect(auto auto auto 401px);
}
/* end MenuItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.art-vmenublock-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-vmenublock-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-vmenublock-bl
{
  clip: rect(1px 1px auto auto);
}

.art-vmenublock-br
{
  clip: rect(1px auto auto 1px);
}

.art-vmenublock-tc
{
  clip: rect(auto auto 1px auto);
}

.art-vmenublock-bc
{
  clip: rect(1px auto auto auto);
}

.art-vmenublock-cr
{
  clip: rect(auto auto auto 1px);
}

.art-vmenublock-cl
{
  clip: rect(auto 1px auto auto);
}

.art-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-vmenublockcontent-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-vmenublockcontent-bl
{
  clip: rect(1px 1px auto auto);
}

.art-vmenublockcontent-br
{
  clip: rect(1px auto auto 1px);
}

.art-vmenublockcontent-tc
{
  clip: rect(auto auto 1px auto);
}

.art-vmenublockcontent-bc
{
  clip: rect(1px auto auto auto);
}

.art-vmenublockcontent-cr
{
  clip: rect(auto auto auto 1px);
}

.art-vmenublockcontent-cl
{
  clip: rect(auto 1px auto auto);
}

.art-vmenublockcontent-body
{
  zoom: 1;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.art-vmenu ul, .art-vmenu li
{
  zoom: 1;
}

ul.art-vmenu a .r
{
  clip: rect(auto auto auto 882px);
}
/* end VMenuItem */

/* begin Box, Block */
.art-block-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-block-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-block-bl
{
  clip: rect(1px 1px auto auto);
}

.art-block-br
{
  clip: rect(1px auto auto 1px);
}

.art-block-tc
{
  clip: rect(auto auto 1px auto);
}

.art-block-bc
{
  clip: rect(1px auto auto auto);
}

.art-block-cr
{
  clip: rect(auto auto auto 1px);
}

.art-block-cl
{
  clip: rect(auto 1px auto auto);
}

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-blockcontent-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-blockcontent-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-blockcontent-bl
{
  clip: rect(1px 1px auto auto);
}

.art-blockcontent-br
{
  clip: rect(1px auto auto 1px);
}

.art-blockcontent-tc
{
  clip: rect(auto auto 1px auto);
}

.art-blockcontent-bc
{
  clip: rect(1px auto auto auto);
}

.art-blockcontent-cr
{
  clip: rect(auto auto auto 1px);
}

.art-blockcontent-cl
{
  clip: rect(auto 1px auto auto);
}

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.art-footer-body
{
    padding-right: 0;
  zoom:1;
}

.art-footer{
  zoom:1;
}

/* end Footer */

/* begin LayoutCell, content */
.art-sidebar1 {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */

