#didgeridoo-code-editor {
	position: absolute;
	left: 0; top: 40px;
	right: 0; bottom: 0;
}

#didgeridoo-code-editor-ace { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ace_scroller {
	overflow-x: auto !important;
}

.ace_sb {
	overflow-y: auto !important;
}