<div id="ui-layout-north" class="ui-layout-north"></div>

<div id="ui-layout-west" class="ui-layout-west"></div>
<div id="ui-layout-west-toolbar">
	<a class="ui-layout-pane-toolbar-toggler" title="Unpin panel"></a>
	<a class="ui-layout-pane-toolbar-close" title="Close panel"></a>
</div>

<div id="ui-layout-south" class="ui-layout-south">
    <div id="didgeridoo-layout-south-tabs">
        <ul>
        	<li><a href="#didgeridoo-docs-tab">Source Code</a><a class="didgeridoo-layout-south-tab-close" title="Close panel"></a></li>
            <li><a href="#didgeridoo-docs-tab">Reference</a><a class="didgeridoo-layout-south-tab-close" title="Close panel"></a></li>
        </ul>
        <div id="didgeridoo-code-editor"></div>
        <div id="didgeridoo-reference"></div>
    </div>
</div>
<div id="ui-layout-south-toolbar">
	<a class="ui-layout-pane-toolbar-toggler" title="Unpin panel"></a>
	<a class="ui-layout-pane-toolbar-close" title="Close panel"></a>
</div>

<div id="ui-layout-east" class="ui-layout-east"></div>
<div id="ui-layout-east-toolbar">
	<a class="ui-layout-pane-toolbar-close" title="Close panel"></a>
	<a class="ui-layout-pane-toolbar-toggler" title="Unpin panel"></a>
</div>


<div id="ui-layout-center" class="ui-layout-center"></div>