<div id="ui-layout-north" class="ui-layout-north"></div>

<div id="ui-layout-west" class="ui-layout-west"><div class="container"></div></div>
<div id="ui-layout-west-toolbar" data-panel = "ui-layout-west">
	<a class="ui-layout-pane-toolbar-toggler" title="Unpin panel"></a>
	<a class="ui-layout-pane-toolbar-close" title="Close panel"></a>
</div>


<div id="ui-layout-east" class="ui-layout-east"></div>
<div id="ui-layout-east-toolbar" data-panel = "ui-layout-east">
	<a class="ui-layout-pane-toolbar-close" title="Close panel"></a>
	<a class="ui-layout-pane-toolbar-toggler" title="Unpin panel"></a>
</div>


<div id="ui-layout-center" class="ui-layout-center"></div>