#ui-layout-north {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 33px;
	background: -webkit-linear-gradient(top, #3E362F, #1C140D);
	background: -moz-linear-gradient(top, #3E362F, #1C140D);
	background: -ms-linear-gradient(top, #3E362F, #1C140D);
	background: -o-linear-gradient(top, #3E362F, #1C140D);
	background: linear-gradient(top, #3E362F, #1C140D);
	border-bottom: #005C83 2px solid;
	box-shadow: #000 0 0 5px;
	overflow: visible !important;
	z-index: 9999999 !important;
}

#ui-layout-middle-row {	
	position: fixed;
	left: 0;
	top: 33px;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.ui-layout-aside {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	border:	none;
	padding: 0;
	overflow: auto;
	background: #F1F0F2;
	z-index: 20;
}

#ui-layout-west {
	left: 0;
	border-right: #E4E3E5 2px solid;
}

#ui-layout-center {
	position: absolute;
	left: 200px;
	top: 0;
	right: 200px;
	bottom: 0;
	overflow: auto;
	z-index: 10;
}

#ui-layout-east {
	right: 0;
	border-left: #E4E3E5 2px solid;
}


/* jQuery UI styles override */

.ui-resizable-e {
	right: 0;
}

.ui-resizable-e:hover {
	border-right: #E4E3E5 2px solid;
}

.ui-resizable-w {
	left: 0;
}

.ui-resizable-w:hover {
	border-left: #E4E3E5 2px solid;
}