.didgeridoo-panel-window-tools-icon {
    background-image: url(../_images/ui-icons_000000_256x240.png);
    background-position: -176px -112px;
}

#didgeridoo-tools .ui-accordion-header {
	background: none;
	border: none;
	border-bottom: #e4e3e5 2px solid;
}

#didgeridoo-tools .ui-accordion-header a {
	color: #1C140D;
	font-size: 12px;
}

#didgeridoo-tools .ui-accordion-header .ui-icon {
	background-image: url(../_images/ui-icons_000000_256x240.png);
}

#didgeridoo-tools .ui-accordion-content {
	border: none;
}